.search-form {
    height: 44px;
    display: flex;
}

.search-form input {
    box-sizing: border-box;
    height: 20px;
    padding: 20px;
    margin: auto;
    flex: 1;
    background-color: var(--light-gray);
    color: var(--gray);
    outline: none;
    border: none;
    border-radius: 5px 0 0 5px;
    transition: all -3s ease-in-out;
    font-size: 1.1rem;
}

.search-form button {
    cursor: pointer;
    width: 56px;
    height: 40px;
    margin: auto;
    background-color: var(--dark-blue);
    border: none;
    border-radius: 0 5px 5px 0;
    color: #fff;
    font-size: 1.1rem;
}

.search-form button:hover {
    background-color: var(--blue);
}